<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    
    <title></title>

</head>
  <body>


      <div ng-app="MyApp" ng-controller="myCntrl">
          <h1>User Details</h1>

          <br />

          <input type="button" class="btnAdd" value=" Add User"  />

          
              <p class="divHead">User</p>
              <table cellpadding="12" class="table table-bordered table-hover">
                  <tr>
                      <td><b>ID</b></td>
                      <td><b>FirstName</b></td>
                      <td><b>LastName</b></td>
                      <td><b>UserName</b></td>
                      <td><b>Email</b></td>
                      <td><b>MobileNo</b></td>
                      <td><b>Password</b></td>
                      <td><b>Sex</b></td>
                      <td><b>DateOfBirth</b></td>
                  </tr>
                  <tr ng-repeat="user in Users">
                      <td>
                          {{user.Id}}
                      </td>
                      <td>
                          {{user.FirstName}}
                      </td>
                      <td>
                          {{user.LastName}}
                      </td>
                      <td>
                          {{user.UserName}}
                      </td>
                      <td>
                          {{user.Email}}
                      </td>
                      <td>
                          {{user.MobileNo}}
                      </td>
                      <td>
                          {{user.Password}}
                      </td>
                      <td>
                          {{user.Sex}}
                      </td>
                      <td>
                          {{user.DateOfBirth}}
                      </td>
                      <td>
                          <button ng-click="editUser(user)">Edit</button>
                          <button ng-click="delete(user)">Delete</button>
                      </td>
                  </tr>
              </table>
        

          <div >
              <p class="divHead">{{Action}} SignUp</p>
              <table>
                  <tr>
                      <td><b>Id</b></td>
                      <td>
                          <input type="text" disabled="disabled" ng-model="UserId" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>First Name</b></td>
                      <td>
                          <input type="text" ng-model="FirstName" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>Last Name</b></td>
                      <td>
                          <input type="text" ng-model="LastName" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>User Name</b></td>
                      <td>
                          <input type="text" ng-model="UserName" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>Email</b></td>
                      <td>
                          <input type="text" ng-model="Email" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>Mobile No</b></td>
                      <td>
                          <input type="text" ng-model="MobileNo" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>Password</b></td>
                      <td>
                          <input type="Password" ng-model="Password" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>Sex</b></td>
                      <td>
                          <input type="text" ng-model="Sex" />
                      </td>
                  </tr>
                  <tr>
                      <td><b>DateOfBirth</b></td>
                      <td>
                          <input type="text" ng-model="DateOfBirth" />
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <input type="button" class="btnAdd" value="Save" ng-click="AddUpdateUser()" />
                      </td>
                  </tr>
              </table>
          </div>
      </div>

</body>
</html>